header {
	position: relative;
	margin-top:40px;
  width: 100%;
  min-height: 300px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/header-chi.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
	}
header .header-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}
header .header-left{
  float:left;
  margin: auto;
  text-align: left;
  padding:5%;
}
header .header-right{
  float:right;
  margin: auto;
  text-align: right;
  padding:5%;
}
header .header-content .header-content-inner h1 {
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
}
header .header-content .header-content-inner h3 {
  font-weight: 200;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  margin-bottom: 50px;
}
header .header-content .header-content-inner p em {
  font-style: italic;
  font-size:20px;
}
.section-heading {
  margin-top: 40px;
}
h2 {
  font-weight:400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
}
.social-box {
  max-width: 400px;
  margin: 30px auto;
}
.social-box h3 {
  font-weight: 200;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
}
.social-box a {
  text-decoration: none;
  color: inherit;
}
.aboutMe {
	max-height: 150px;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.aboutMe h4 {
  font-weight:600;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 25px;
  font-size: 20px;
}

.aboutMe p {
  padding: 25px;
}

.readMore {
	position: absolute;
	bottom: 0;
	left: 0;
  width: 100%;
	text-align: center;
	margin:0;
  padding: 15px !important;
  overflow: visible;
	background-image: radial-gradient(center bottom, ellipse cover, rgba(0,0,0,0.7), transparent);
	background-image: -o-radial-gradient(center bottom, ellipse cover, rgba(0,0,0,0.7), transparent);
	background-image: -ms-radial-gradient(center bottom, ellipse cover, rgba(0,0,0,0.7), transparent);
	background-image: -moz-radial-gradient(center bottom, ellipse cover, rgba(0,0,0,0.7), transparent);
	background-image: -webkit-radial-gradient(center bottom, ellipse cover, rgba(0,0,0,0.7), transparent);
}
.readMore .btn {
  border: rgba(0, 140, 186, 0.9);
  border-radius: 4px;
  
}
.bg-dark {
  background-color: rgba(0,0,0,0.4);
  color: white;
}
#portfolio {
	margin: 0;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(0, 140, 186, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.portfolio-box-caption-content .text-faded {
  font-style: italic;
  font-weight: 100 !important;
  font-size: 14px !important;
  line-height: 1.2em;
  text-transform: lowercase !important;
  padding-bottom: 5px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 24px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
.portfolio-box img {
width: 100%;
height: 350px;
overflow: hidden;
object-fit: cover;
object-position: top center;
border: rgba(0,0,0,0.7) 2px solid;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.image-column {
    width: 100%;
    height: 350px;
    overflow: hidden;
    
}
.image-column img {
    position:relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
  min-height: 100px;
}

footer p {
  margin: auto;
  padding: 25px 0;
  text-align: center;

}


